body{
    background-color: black;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1220px;

}

.sliderContainer{
    margin-left:auto;
    margin-right:auto;
    width:800px;
}

.shortLong{
    margin-left:auto;
    margin-right:auto;
    width:1220px;
    text-align: center;
}

#slider{
    margin-left: auto;
    margin-right: auto;
    width:800px;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: black;
    outline: 5px solid lightgreen;

}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: lightgreen;
  cursor: pointer;
}

.passwordButton{
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    background-color:lightgreen;
    color:black;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:20px;
}.passwordButton:hover{
color: white;
}

.copyButton{
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    background-color:lightgreen;
    color:black;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:20px;
}.copyButton:hover{
    color:white;
}

#passwordField{
    margin-left: auto;
    margin-right: auto;
    width: 1215px;
    text-align: center;
    color:lightgreen;
    background-color:black;
    height:60px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    color: lightgreen;
    width: 1220px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
h2{
    margin-left: auto;
    margin-right: auto;
    color: lightgreen;
    width: 1220px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
h3{
    color: lightgreen;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

.footer{
    background-color:lightgreen;


    font-family: "Lucida Console", Monaco, monospace;
    border-style:solid;
    border-width: 5px 5px 0px 5px;
    border-color: white;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 1140px;
    color: black;
    height: 50px;
}

.footerText{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
